
{% extends 'base.html' %}

{% block title %}
Help Page
{% endblock %}

{% block content %}

<div class="margins">
  
  <h2> Help </h2>

  <h3> Playing the Game </h3>
  <ol>
    <li> Select a category. </li>
    <li> Select a difficulty level. </li>
    <li> Press the "Begin Quiz" button. </li>
    <li> You will be given 10 questions to answer. </li>
  </ol>

  <h3> Accounts </h3>
  <ol>
    <li>Creating an account and logging in will enable you to view personal stats and participate in the leaderboard.</li>
    <li>If you don't create an account, you will still be able to play the game, but without these advanced features.</li>
  </ol>

  <h4>Created by Sam Johnson</h3>

</div>

</div>

{% endblock %}
